/*main*/
html {
  overflow-y: scroll;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #333;
  font-size: 16px;
  background-color: #e2eaeb;
}
@media (max-width: 1200px) {
  body {
    font-size: 16px;
  }
}
a,
a:active,
a:visited {
  text-decoration: none;
}
h1,
.section-title {
  text-align: center;
  font-size: 2em;
  font-weight: 600;
  font-family: 'PT Serif', serif;
  color: #cb3837;
  margin-top: 1em;
  margin-bottom: 1em;
}
@media (min-width: 768px) {
  h1,
  .section-title {
    margin-bottom: 2em;
  }
}
h2,
.section-subtitle {
  font-size: 1.5em;
  color: #5e818a;
  text-align: center;
}
.header.navbar {
  margin: 0;
  border: 0;
}
.header .container {
  background-color: #fff;
  padding: 0.5em 1em;
}
.header .navbar-header {
  margin-bottom: 1em;
}
@media (min-width: 768px) {
  .header .navbar-header {
    margin-top: -2em;
    margin-left: 2em;
    margin-bottom: 0;
  }
}
.header .navbar-toggle {
  border-color: #202c2f;
  margin-top: 1em;
}
.header .navbar-toggle .icon-bar {
  background-color: #202c2f;
}
.header .nav > li > a {
  color: #3f575d;
  border: 1px solid #fff;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.header .nav > li > a:hover,
.header .nav > li > a:focus {
  background-color: #e2eaeb;
}
.header__title {
  font-family: 'Noto Serif', serif;
  font-size: 1em;
  font-weight: bold;
  margin: 0;
}
@media (min-width: 992px) {
  .header__title {
    font-size: 1.25em;
  }
}
.header__subtitle {
  color: #202c2f;
  font-size: 70%;
  margin-left: 5px;
}
.header-contact {
  padding: 1em 0;
  line-height: 2.2;
  margin-bottom: 0;
  font-size: 0.875em;
}
.header-contact__item {
  padding-left: 2px;
  padding-right: 10px;
  color: #202c2f;
  font-family: 'Open Sans', sans-serif;
}
.carousel-control__icon {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
  margin-top: -15px;
  font-size: 2em;
}
@media (min-width: 768px) {
  .carousel-control__icon {
    font-size: 5em;
    margin-top: -35px;
  }
}
.carousel-control__icon.fa-angle-left {
  margin-left: -25px;
}
.services {
  background-color: #fff;
  margin-top: 0;
  padding-top: 1em;
  padding-bottom: 4em;
}
.services .row {
  padding: 0 1em;
}
.services .section-subtitle {
  margin-top: 0;
}
.services-main {
  padding-top: 0.5em;
}
@media (min-width: 992px) {
  .services-main {
    background: url(../img/design.png) no-repeat 3em 0;
  }
}
.services-main .services__price {
  margin-bottom: 2em;
}
.services-additional {
  border-color: #cb3837;
  background-color: #f5f5f5;
  border: 1px solid #f5f5f5;
  border-radius: 5px;
  font-size: 0.875em;
  padding: 1em;
  margin-top: 3em;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.services-additional .bage {
  color: #a1a1a1;
  font-weight: bold;
}
@media (min-width: 992px) {
  .services-additional:hover {
    background-color: #fff;
  }
}
.services__price {
  text-align: center;
}
.services__alert {
  padding: 1em;
  margin: 3em 2em 0;
  background-color: #faeded;
  border: 1px solid #faeded;
  border-radius: 5px;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
@media (min-width: 992px) {
  .services__alert:hover {
    background-color: #fff;
  }
}
.project {
  width: 90%;
  margin: 0 auto;
}
.project__title {
  float: left;
  font-size: 1em;
  margin: 0;
}
.project__price {
  float: right;
}
.project__price .fa {
  margin-left: 1em;
  padding: 2px 4px;
}
.project-header {
  border-bottom: 1px dashed #96b1b8;
  margin-top: 1.7em;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.project-header > a {
  color: #202c2f;
}
.project-header > a:hover,
.project-header > a:focus {
  text-decoration: none;
  color: #d6605f;
}
.project-body {
  padding: 1em;
}
.portfolio {
  background-color: #f5f5f5;
  padding-top: 2em;
  padding-bottom: 3em;
}
.portfolio__picture {
  position: relative;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.portfolio__picture:hover .portfolio-hover {
  opacity: 0.6;
  cursor: pointer;
}
.portfolio-hover {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: #faeded;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.portfolio-hover__inner {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -18px;
  margin-top: -10px;
}
.portfolio-modal__slider {
  margin: 1.5em auto;
}
.portfolio-modal__slider .fotorama__wrap {
  margin: auto;
}
.portfolio-modal__footer {
  padding-top: 1em;
  padding-bottom: 2em;
}
.portfolio-modal__btn {
  background-color: #c4d3d7;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.portfolio-modal__btn:hover {
  background-color: #87a6ad;
}
.thumbnail > img {
  max-height: 250px;
}
.info {
  padding: 2em 1em;
  background-color: #96b1b8;
  color: #000;
}
.info .section-subtitle {
  margin-bottom: 1em;
  color: #681b1b;
}
@media (min-width: 768px) {
  .info .section-subtitle {
    margin-bottom: 2em;
  }
}
.stage {
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
@media (min-width: 992px) {
  .stage:hover {
    background-color: #c4d3d7;
  }
}
.stage__number {
  display: inline-block;
  padding: 0 6px;
  border: 1px solid #5e818a;
}
.stage__name {
  padding: 10px;
  white-space: nowrap;
}
.stage__name-inner {
  border-bottom: 1px dashed #202c2f;
}
@media (min-width: 768px) {
  .stage__name {
    float: left;
    width: 30%;
  }
}
.stage__description {
  padding: 0.5em;
}
@media (min-width: 768px) {
  .stage__description {
    float: right;
    width: 60%;
  }
}
@media (min-width: 768px) {
  .period {
    padding-top: 2em;
  }
}
.period__value {
  text-align: center;
  border-radius: 50%;
  width: 140px;
  padding: 55px 0;
  border: 1px dashed #202c2f;
  position: relative;
  margin: auto;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
@media (min-width: 992px) {
  .period__value {
    float: left;
  }
  .period__value:hover {
    background-color: #c4d3d7;
  }
}
.period__value:before {
  content: '';
  border-radius: 50%;
  border: 1px solid #202c2f;
  display: block;
  position: absolute;
  width: 96%;
  top: 3px;
  bottom: 3px;
  left: 3px;
}
.period__description {
  width: 68%;
  margin: auto;
  margin-top: 1em;
  text-align: center;
}
@media (min-width: 992px) {
  .period__description {
    margin-top: 3em;
    float: right;
    text-align: justify;
  }
}
.about {
  padding: 2em 0;
  background-color: #fff;
}
.about .row {
  padding: 1em 4em 2em;
}
.about .section-subtitle {
  text-align: left;
  margin-left: 1em;
  margin-bottom: 1em;
}
.about__foto {
  display: block;
  margin: auto;
  margin-bottom: 1em;
  height: 200px;
  border-radius: 50%;
  border: 6px solid #96b1b8;
}
@media (min-width: 768px) {
  .about__foto {
    margin-top: -4em;
  }
}
.principles {
  padding: 0 1.5em;
}
.principles__description {
  margin-top: 0.2em;
  margin-bottom: 2em;
}
.contact {
  background-color: #96b1b8;
  padding-bottom: 1em;
}
.contact .section-subtitle {
  color: #681b1b;
  margin-bottom: 1em;
  margin-top: 1em;
}
.contact__item {
  margin: 1em;
}
.contact__link {
  color: #202c2f;
}
.contact__link:hover {
  color: #49656c;
}
.contact__line {
  border-color: #202c2f;
  border-style: dashed;
}
.contact .list-inline {
  text-align: center;
}
@media (min-width: 1200px) {
  .contact .list-inline {
    text-align: left;
  }
}
.contact__social {
  background-color: #96b1b8;
  color: #202c2f;
  border-radius: 50%;
  font-size: 1.25em;
  padding-top: 0.8em;
  width: 50px;
  height: 50px;
  text-align: center;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.contact__social:hover {
  text-decoration: none;
  color: #202c2f;
  background-color: #fff;
}
@media (min-width: 1200px) {
  .contact__social {
    margin-left: 1em;
  }
}
.footer {
  padding: 1em;
  background-color: #5e818a;
  text-align: center;
  font-size: 0.875em;
}
.button-to-top {
  display: block;
  color: #fff;
  padding: 0.8em;
  position: fixed;
  bottom: 1em;
  right: 1em;
  background-color: #789aa3;
  border-radius: 5px;
  opacity: 0.6;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.button-to-top:hover {
  color: #fff;
  background-color: #54737b;
  text-decoration: none;
  opacity: 1;
}
.button-to-top:focus {
  color: #fff;
  text-decoration: none;
}
@media (min-width: 768px) {
  .button-to-top {
    right: 1%;
    bottom: 2em;
  }
}
@media (min-width: 992px) {
  .button-to-top {
    right: 5%;
  }
}