/*! главный файл, в который подключаются все остальные*/
/*Глобальные переменные для всего проекта*/
/*!подключение миксинов*/
/*Font size from px to em*/
/*! файл содержит стили, назначенные для селекторов тегов,
 * а также для классов, встречающихся во многих блоках*/
html {
  overflow-y: scroll;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #333;
  font-size: 16px;
  background-color: #ffffff;
}
@media (max-width: 1200px) {
  body {
    font-size: 16px;
  }
}
a,
a:active,
a:visited {
  text-decoration: none;
}
.section-title {
  text-align: center;
  font-size: 2em;
  font-weight: 600;
  color: #026375;
  margin-top: 1em;
  margin-bottom: 2em;
}
@media (min-width: 768px) {
  .section-title {
    font-size: 2.5em;
  }
}
.header {
  background-color: rgba(255, 255, 255, 0.8);
}
.header__tel {
  display: block;
  color: #026375;
  text-align: right;
  margin-top: 1em;
  margin-right: 1em;
  margin-bottom: 0.5em;
}
.header__tel:hover,
.header__tel:focus {
  color: #be1200;
  text-decoration: none;
}
@media (min-width: 992px) {
  .header__tel {
    position: absolute;
    margin-bottom: 0;
    left: 40%;
    bottom: 1em;
  }
}
.header-title {
  background: url("../img/logotype.png") no-repeat center center;
  width: 220px;
}
@media (min-width: 768px) {
  .header-title {
    margin-top: 1em;
  }
}
.header-title__text {
  text-indent: -9999px;
  margin: 0;
  padding: 0;
}
.header .navbar-toggle {
  border: 1px solid #be1200;
}
.header .navbar-toggle:hover,
.header .navbar-toggle:focus {
  background-color: #fff2f1;
}
.header .navbar-collapse {
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.header .icon-bar {
  background-color: #be1200;
}
.header .nav {
  margin-top: 1em;
}
.header .nav > li > a {
  color: #be1200;
  font-weight: bold;
}
.header .nav > li > a:hover {
  background-color: #ffebbe;
  color: #be1200;
}
.header .nav > li > a:focus {
  background-color: #fff;
}
.action {
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 1.5em;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
}
.action__title {
  color: #be1200;
  font-weight: bold;
}
.action__discount {
  display: inline-block;
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 1em;
  padding: 1em 0.5em;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid #be1200;
  color: #be1200;
}
.action__text {
  font-size: 1.6em;
  line-height: 2;
}
.home {
  background: url("../img/bg-home.jpg");
}
.home-container {
  min-height: 500px;
  background: url("../img/home-flower.png") no-repeat 100% 100%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
}
.products {
  padding-top: 2em;
  padding-bottom: 5em;
}
.products .section-title {
  color: #a51000;
}
.products__btn-wrap {
  display: block;
  text-align: center;
  padding-top: 5em;
}
.products__btn {
  color: #be1200;
  background-color: #fff2f1;
  text-decoration: none;
  border: 0;
  border-radius: 0;
  padding: 1em 2em;
  line-height: 3em;
}
.products__btn:hover {
  background-color: #fffbf1;
  text-decoration: none;
  color: #be8300;
}
.products__btn:focus {
  text-decoration: none;
  color: #be1200;
}
.product {
  border: 2px solid #eee;
  padding: 1em;
  margin: 0.5em;
  margin-bottom: 2em;
  text-align: center;
}
.product__title {
  font-size: 1.375em;
  margin-bottom: 1em;
}
.product__image {
  margin: auto;
  max-height: 270px;
}
.product__price {
  margin: 1em 0;
  color: #8b0d00;
  padding-left: 20%;
}
.product__price_old {
  text-decoration: line-through;
  color: #777;
  margin-left: 0.5em;
  font-size: 80%;
}
.product__btn {
  display: inline-block;
  border: 2px solid #be8300;
  padding: 0.5em 2em;
  color: #000;
}
.product__btn:hover {
  text-decoration: none;
  background-color: #ffeec8;
  color: #000;
}
.subscription {
  padding: 3em 0;
  background-color: #01232a;
  color: #fff;
}
.subscription__title {
  margin-top: 0;
}
.subscription .form-horizontal {
  padding: 2em 1em 1em 1em;
  background-color: #00171b;
}
@media (min-width: 768px) {
  .subscription .form-horizontal {
    padding-right: 0;
    padding-left: 0;
  }
}
.subscription .form-control {
  border-radius: 0;
}
.subscription .form-control:focus {
  outline: #026375;
}
.subscription__label {
  white-space: nowrap;
}
.subscription__btn {
  margin-top: 1em;
  border-radius: 0;
  background-color: #8b0d00;
  color: #fff;
}
@media (min-width: 768px) {
  .subscription__btn {
    margin-top: 0;
  }
}
.subscription__btn:hover {
  background-color: #f11700;
  color: #fff;
}
.about {
  background-color: #ffdb8b;
  background-image: url("../img/bg-about.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.about .container {
  background-color: rgba(255, 255, 255, 0.85);
  padding-top: 1em;
  padding-bottom: 1em;
}
.about .row {
  text-align: center;
}
.about__title {
  text-align: center;
  font-weight: bold;
  margin-bottom: 2em;
}
.about__list {
  margin-left: 120px;
}
.about-item {
  padding: 1em 2.5em;
  width: 100%;
  min-height: 80px;
  background-color: #fff;
  position: relative;
  margin: 0.5em auto;
  text-align: left;
  display: inline-block;
  border-radius: 3px;
}
@media (min-width: 768px) {
  .about-item {
    width: auto;
    text-align: center;
    min-width: 340px;
    padding: 1em 2em;
    margin: 1em auto;
  }
}
.about-item:before {
  content: "";
  margin: auto;
  border-radius: 50%;
  border: 4px solid rgba(255, 255, 255, 0.8);
  width: 20px;
  height: 20px;
  background-color: #01414d;
  position: absolute;
  left: 10px;
  top: 1em;
  opacity: 0.3;
}
@media (min-width: 768px) {
  .about-item:before {
    display: block;
    position: relative;
    width: 90px;
    height: 90px;
    opacity: 1;
    background-color: #fff;
    background-image: url(../img/about.png);
    background-repeat: no-repeat;
    top: 0;
    left: 0;
  }
}
.about-item_delivery:before {
  background-position: 0 -22px;
}
.about-item_plane:before {
  background-position: -140px -10px;
}
.about-item_flowers:before {
  background-position: -5px -140px;
}
.about-item_florist:before {
  background-position: -135px -135px;
}
.about-item_help:before {
  background-position: -270px -10px;
}
.about-item_shop:before {
  background-position: -270px -140px;
}
.about-item_freshness:before {
  background-position: -18px -274px;
}
@media (min-width: 992px) {
  .about-item {
    line-height: 3;
  }
}
.info {
  background: url("../img/bg-info.png");
  padding: 2em 0 5em;
}
.info__item {
  text-align: center;
  margin-bottom: 2em;
  visibility: hidden;
}
.info__item.show {
  visibility: visible;
}
.info__img {
  display: block;
  margin: auto;
  width: 100px;
}
@media (min-width: 768px) {
  .info__img {
    width: auto;
  }
}
.info__text {
  margin: auto;
  background-color: #FFF;
  border-radius: 6px;
  line-height: 2;
  margin-top: -0.5em;
  padding: 1em;
  max-width: 460px;
}
@media (min-width: 768px) {
  .info__text {
    margin-top: -1em;
  }
}
.info__link {
  color: #026375;
}
.info__link:hover {
  color: #be1200;
}
.recall {
  background: url("../img/bg-recall.png") #fffbf1;
  padding: 1em 0;
}
.recall__list {
  list-style: none;
  margin-left: 0;
  margin: auto;
  vertical-align: top;
  text-align: center;
}
.recall__item {
  display: block;
  text-align: left;
  max-width: 460px;
  padding: 1em 2em;
  margin: auto;
  margin-bottom: 3em;
  background: #fffbf1;
  border-radius: 5px;
}
.contact {
  padding: 2em 0;
  text-align: center;
}
.contact__advice {
  font-size: 1.375em;
  color: #555;
  margin-top: 2em;
}
.contact__call {
  text-transform: uppercase;
  font-weight: bold;
  color: #be1200;
  margin: 1em 0;
}
.contact__tel {
  font-weight: bold;
  margin-bottom: 2em;
}
.contact__img {
  border-radius: 50%;
  border: 1px solid #026375;
  display: block;
  margin: 0 auto;
}
.contact__img_left {
  display: none;
}
@media (min-width: 768px) {
  .contact__img_left {
    display: block;
  }
}
.contact__footer {
  margin: 2em auto;
  line-height: 2;
}
.contact__link {
  color: #be1200;
}
.contact__link:hover {
  color: #026375;
}
.map {
  background: #eee;
  position: relative;
  height: 280px;
}
@media (min-width: 768px) {
  .map {
    height: 500px;
  }
}
.map__banner {
  display: none;
}
@media (min-width: 768px) {
  .map__banner {
    display: block;
    background-color: rgba(140, 96, 0, 0.77);
    padding: 3em 1.5em;
    text-align: center;
    font-size: 160%;
    position: absolute;
    top: 50%;
    margin-top: -184px;
    left: 10%;
    z-index: 10;
    width: 300px;
    line-height: 2;
    border-radius: 6px;
    color: #FFF;
  }
  .map__banner .term {
    color: #ffdd93;
  }
}
.footer {
  color: #fff;
  background-color: #00171b;
  text-align: center;
}
.footer__text {
  padding: 1.5em 0;
}
.countdown {
  padding: 1em 0;
  font-size: 14px;
}
@media (min-width: 480px) {
  .countdown {
    font-size: 1em;
  }
}
.countdown__item {
  border: 1px solid #013943;
  border-radius: 2px;
  background-color: #fff;
  margin: auto;
  max-width: 170px;
}
.countdown__amount {
  font-size: 180%;
  padding: 1em 0;
  color: #00171b;
  font-weight: bold;
}
.countdown__period {
  padding: 1em 0;
  background-color: #013943;
  color: #fff;
}
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  padding: 8px 8px 5px 10px;
  cursor: pointer;
  top: -30px;
  right: 10px;
  border: 1px solid #026375;
  color: #026375;
  background: transparent;
}
.slick-prev:hover,
.slick-next:hover,
.slick-prev:focus,
.slick-next:focus {
  outline: none;
  color: #be1200;
  border-color: #be1200;
}
.slick-prev {
  right: 48px;
  padding: 8px 10px 5px 8px;
}
.slick-disabled {
  color: #ccc;
  cursor: default;
  border-color: #ccc;
}
.slick-disabled:hover,
.slick-disabled:focus {
  color: #ccc;
  cursor: default;
  border-color: #ccc;
}
.slick-slider {
  margin-bottom: 30px;
}
.slick-dots {
  position: absolute;
  bottom: -45px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0;
  font-size: 0;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 0.5;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 10px;
  height: 10px;
  line-height: 10px;
  text-align: center;
  opacity: 1;
  background-color: #026375;
  border-radius: 50%;
}
.slick-dots li.slick-active button:before {
  background-color: #be1200;
}
/*! @import "blocks/.less";*/
